<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me|Portfolio</title>
</head>
<body>
    <!--Hello, and welcome to my portfolio website! My name is Cristiano Ronaldo, and I am a Computer Programing student 
    at Durham College.

    I have always been passionate about Computer Programing and have pursued it with dedication and enthusiasm.

    Thank you for taking the time to visit my portfolio website. Please feel free to browse my portfolio and contact me if you have any questions or would like to discuss a project. I would be happy to hear from you!-->

    <div style="padding-top: 20px;">
        <h2>About me</h2>
        <!--image ref: https://www.nicepng.com/ourpic/u2t4t4e6w7e6u2o0_med-boukrima-specialist-webmaster-php-e-commerce-web/-->
        <img src="/images/avater.jpg" width="256" height="256"/>
        <table>
            <tr>
                <td>Name: </td>
                <td>Cristiano Ronaldo Dos Santos Aveiro</td>
            </tr>
            <tr>
                <td valign="top">About me: </td>
                <td>
                    My name is Cristiano Ronaldo. I'm a B.S. student at the University of Lisbon in Computer Science and
                    Economics Department. I was born and raised in Lisbon, Portugal. <br>
                    I did senior schooling at Lisbon Model School, Portugal. <br>
                    I like to do coding. In my free time I play football. I believe playing football gives you a new perspective to everything. You wii be in a good shape which will ultimately led to physical and mental happiness. 
                    
                </td>
            </tr>
            <tr>
                <td>Resume: </td>
                <td><a href="sample_resume.pdf">Click Here</a></td>
            </tr>
        </table>
    </div>
</body>
</html>